@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.login div {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}

.login img {
  width: 130px;
  height: 92px;

  margin: 72px 0 94px 0;
}

.login input {
  width: 260px;
  height: 54px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.login input::placeholder {
  color: #aeaeae;
}

.login input:focus-visible {
  border: 1px solid #aeaeae;
  outline: none;
}

.login button {
  width: 109px;
  height: 45px;

  margin-top: 15px;

  border-radius: 9px;
  border: none;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
  background-color: #e7e7e7;
}

.login span {
  color: #696969;
  margin-top: 15px;
}

header {
  width: 100%;
  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 22px;
  box-sizing: border-box;
}

header img {
  width: 75px;
  height: 53px;
}

header .icon {
  font-size: 45px;
}

footer {
  width: 100%;
  height: 80px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 17px;
  box-sizing: border-box;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer input {
  height: 100%;

  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: black;
}

footer input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: black;
}

footer input:focus-visible {
  outline: none;
}

footer span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;

  color: #505050;
}

footer .icon {
  font-size: 26px;
}

.sidebar-background {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.6);
}

.sidebar {
  width: 259px;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;

  background-color: white;

  padding: 26px 20px;
  box-sizing: border-box;

  overflow: auto;

  transition: all 500ms;
}

.sidebar .menu-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: black;

  margin-bottom: 30px;
}

.sidebar .menu-title:last-of-type {
  margin: 30px 0 20px 0;
}

.sidebar .menu-title h3 {
  display: block;
}

.sidebar .menu-option {
  height: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  cursor: pointer;
}

.sidebar .menu-option:hover {
  background-color: #ececec;
}

.sidebar .menu-option div {
  display: flex;
  align-items: center;
}

.sidebar .menu-option h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.sidebar .icon {
  font-size: 25px;

  margin-right: 8px;
}

.sidebar .icon.check {
  font-size: 16px;
  color: #28bb25;
}

.sidebar .selected .icon.check {
  display: inline;
}

.sidebar.hidden {
  right: -259px;
}

footer span.hidden,
.login span.hidden,
.login.hidden,
.login div.hidden,
.sidebar-background.hidden,
.sidebar .icon.check {
  display: none;
}

.webpage {
  margin: 106px 0;
}

.message {
  min-height: 40px;
  background-color: white;
  border-radius: 2px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  padding: 14px 8px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.message.status {
  background-color: #dcdcdc;
}

.message.private {
  background-color: #ffdede;
}

.message .time {
  color: #aaa;
}

.message .name,
.message .destination {
  font-weight: bold;
}

.message span {
  word-wrap: break-word;
}

/* LOADING SPINNER ANIMATION */
@keyframes ldio-gv32y5yvpvp {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34, 1.34);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-gv32y5yvpvp div > div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #b5b4b4;
  animation: ldio-gv32y5yvpvp 0.7042253521126761s linear infinite;
}
.ldio-gv32y5yvpvp div:nth-child(1) > div {
  left: 152px;
  top: 92px;
  animation-delay: -0.6402048655569783s;
}
.ldio-gv32y5yvpvp > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}
.ldio-gv32y5yvpvp div:nth-child(2) > div {
  left: 142px;
  top: 124px;
  animation-delay: -0.5761843790012804s;
}
.ldio-gv32y5yvpvp > div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 150px 132px;
}
.ldio-gv32y5yvpvp div:nth-child(3) > div {
  left: 117px;
  top: 147px;
  animation-delay: -0.5121638924455826s;
}
.ldio-gv32y5yvpvp > div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 125px 155px;
}
.ldio-gv32y5yvpvp div:nth-child(4) > div {
  left: 83px;
  top: 151px;
  animation-delay: -0.44814340588988477s;
}
.ldio-gv32y5yvpvp > div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 91px 159px;
}
.ldio-gv32y5yvpvp div:nth-child(5) > div {
  left: 53px;
  top: 137px;
  animation-delay: -0.38412291933418696s;
}
.ldio-gv32y5yvpvp > div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 61px 145px;
}
.ldio-gv32y5yvpvp div:nth-child(6) > div {
  left: 34px;
  top: 109px;
  animation-delay: -0.32010243277848915s;
}
.ldio-gv32y5yvpvp > div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 42px 117px;
}
.ldio-gv32y5yvpvp div:nth-child(7) > div {
  left: 34px;
  top: 75px;
  animation-delay: -0.2560819462227913s;
}
.ldio-gv32y5yvpvp > div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 42px 83px;
}
.ldio-gv32y5yvpvp div:nth-child(8) > div {
  left: 53px;
  top: 47px;
  animation-delay: -0.19206145966709348s;
}
.ldio-gv32y5yvpvp > div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 61px 55px;
}
.ldio-gv32y5yvpvp div:nth-child(9) > div {
  left: 83px;
  top: 33px;
  animation-delay: -0.12804097311139565s;
}
.ldio-gv32y5yvpvp > div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 91px 41px;
}
.ldio-gv32y5yvpvp div:nth-child(10) > div {
  left: 117px;
  top: 37px;
  animation-delay: -0.06402048655569782s;
}
.ldio-gv32y5yvpvp > div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 125px 45px;
}
.ldio-gv32y5yvpvp div:nth-child(11) > div {
  left: 142px;
  top: 60px;
  animation-delay: 0s;
}
.ldio-gv32y5yvpvp > div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 150px 68px;
}
.loadingio-spinner-spin-bxq5xak3bss {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.loadingio-spinner-spin-bxq5xak3bss.hidden {
  display: none;
}
.ldio-gv32y5yvpvp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gv32y5yvpvp div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
